// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$white-30: #ffffff4D;
$white-50: #ffffff80;

$borderColor: #4936c8;
$border1Color: #313b5f;
$border2Color: #141f48;
$panelColor: #222d53;
$oddColor: #2c365b;
$evenColor: #222D53;
$bgColor: #216be9;
$primary: #04246b;
$primary-10: #04246b1A;
$primary-25: #04246b40;
$primary-30: #04246b4D;
$primary-40: #04246b66;
$primary-50: #04246b80;
$primary-60: #04246b99;
$primary-75: #04246bbf;
$secondary: #573fdb;
$third: #2d23a3;
$success: #00ffff;
$success-50: #00ffff80;
$danger: #cf000f;
$light-blue: #00a9ea;
$black-25: #00000040;
$black-30: #0000004D;
$black-75: #000000BF;


